body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.PojazdDetails {
    display: inline;
}
.pojazdContainer {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.pojazdBox{
    width: 25%;
    padding: 10px;
}

.pojazdBox img{
    width: 100%;
}