footer {
    background-color: #303030;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0;
    color: whitesmoke;
    font-size: 14px;
}
